<div class="top-row navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">AdventureWorks Dominicana</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        
        @* ========== HOME MODULE ========== *@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> <small>Home</small>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/PhoneNumberType/Index">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Phone Number Types
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/ShoppingCartItem/Index">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Shopping Cart Item
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/product-reviews">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Product Reviews
            </NavLink>
        </div>

        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="sales-people">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Sales Person
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="sales-tax-rates">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Sales Tax Rate
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Employee/Index">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Employees
            </NavLink>
        </div>


        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Employee/Index">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Employees
            </NavLink>
        </div>

        @* ========== GEOGRAPHY MODULE ========== *@
        <div class="accordion px-3 nav-item" id="accordionGeography">
            <div class="accordion-item bg-transparent border-0">
                <div class="accordion-header">
                    <button class="accordion-button collapsed bg-transparent px-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseGeography">
                        <span class="bi bi-globe-americas-nav-menu"></span> <small>Geography</small>
                    </button>
                </div>
                <div id="collapseGeography" class="accordion-collapse collapse" data-bs-parent="#accordionGeography">
                    <div class="accordion-body p-0 ps-3">
                        <div class="nav-item pt-2">
                            <NavLink class="nav-link" href="/CountryRegions/Index">
                                <span class="bi bi-flag-fill-nav-menu"></span> <small>Countries/Regions</small>
                            </NavLink>
                        </div>
                        <div class="nav-item">
                            <NavLink class="nav-link" href="/StateProvince/Index">
                                <span class="bi bi-building-fill-nav-menu"></span> <small>States/Provinces</small>
                            </NavLink>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @* ========== HUMAN RESOURCES MODULE ========== *@
        <div class="accordion px-3 nav-item" id="accordionHR">
            <div class="accordion-item bg-transparent border-0">
                <div class="accordion-header">
                    <button class="accordion-button collapsed bg-transparent px-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseHR">
                        <span class="bi bi-people-fill-nav-menu"></span> <small>Human Resources</small>
                    </button>
                </div>
                <div id="collapseHR" class="accordion-collapse collapse" data-bs-parent="#accordionHR">
                    <div class="accordion-body p-0 ps-3">
                        <div class="nav-item pt-2">
                            <NavLink class="nav-link" href="/Employee/Index">
                                <span class="bi bi-person-badge-nav-menu"></span> <small>Employees</small>
                            </NavLink>
                        </div>
                        <div class="nav-item">
                            <NavLink class="nav-link" href="/Department/Index">
                                <span class="bi bi-building-nav-menu"></span> <small>Departments</small>
                            </NavLink>
                        </div>
                        <div class="nav-item">
                            <NavLink class="nav-link" href="/Person/Index">
                                <span class="bi bi-person-add-nav-menu"></span> <small>Person</small>
                            </NavLink>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </nav>
</div>
